#app-header {
    font-family: "Lato", Courier, monospace;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0vmin 10vmin;
    z-index: 5;
    box-shadow: 0px -12px 9px 5px rgba(0, 0, 0, 0);
    transition: 0.2s ease-in-out;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    border: 0;
}

header img {
    width: 3vh;
    height: 3vh;
}

h2 {
    font-size: 20px;
    font-weight: 450;
}

.header-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#main-header-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#main-logo {
    width: 6vmin;
    height: 6vmin;
}

.header-link {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2vh 3vh;
}

.header-link:hover {
    filter: brightness(0) saturate(100%) invert(87%) sepia(42%) saturate(255%)
        hue-rotate(10deg) brightness(106%) contrast(96%);
}

#cart-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#cart-img {
    display: flex;
    justify-content: center;
}

.guest {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2vh 3vh;
}

.guest:hover {
    cursor: default;
}
